div {
	  padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

#wrapper {
	margin: 0 auto;
	max-width: 1000px;
}

#container {
	margin: 0 100px;
	display: block;
}

#logo {
	background-image: url("https://images.mint.com/web-client/images/mint_logo.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	top: 12px;
  height: 56px;
  width: 103px;
  display: inline-block;
}

ul {
	list-style: none outside;
}

#header-buttons {
	float: right;
	display: inline-block;
}

h1, h2 {
	font-family: "AvenirNext-Regular-Mint", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
	  font-size: 20px;
    margin-left: -15px;
    color: #666;
    padding-bottom: 5px;
    font-weight: 500;
}

.signup {
	display: inline-block;
  width: 400px;
  min-height: 427px;
}

#signup-text {
	font-family: "AvenirNext-Regular-Mint", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 30px;
  font-weight: 300;
}

main {
	display: block;
  background-color: white;
  position: relative;
  padding: 43px 50px 50px 50px;
  min-height: 330px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 3px 8px 0;
}

#signup-info {
	background: #f5f5f5;
  margin-left: 25px;
  padding-bottom: 19px;
  padding-right: 17px;
  padding-top: 21px;
  padding-left: 40px;
  height: 540px;
}

#signup-info-container {
	float: right;
	margin-right: -25px;
  padding-left: 0;
  right: 50px;
  color: #ccc;
  border-left: solid 1px lightgray; 
}

#info-list {
	list-style: square;
	background: none;
  list-style-type: disc;
  padding: 0 5px 5px 0;
  margin-bottom: 10px;
  font-size: 12px;
  list-style-position: inside;
  width: 140px;
}

.input-container {
	margin-bottom: 28px;
}

.input-area {
	box-shadow: none;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
	width: 320px;
	min-width: 160px;
	padding-left: 8px;
	padding-right: 6px;
	height: 34px;
	margin-top: 15px;
}

label {
	font-size: 14px !important;
  font-weight: normal !important;
  font-family: "AvenirNext-Regular-Mint", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  margin-bottom: 10px;
}

.label-container {
}

#first-input {
	margin-top: 67px;
}

#remember-button {
	margin-bottom: 30px;
}

#signup-button {
	  background: #45cae6 !important;
    background: -moz-linear-gradient(top,#365ebf 0,#365ebf 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#365ebf),color-stop(100%,#365ebf));
    background: -webkit-linear-gradient(top,#365ebf 0,#365ebf 100%);
    background: -o-linear-gradient(top,#365ebf 0,#365ebf 100%);
    background: -ms-linear-gradient(top,#365ebf 0,#365ebf 100%);
    background: linear-gradient(to bottom,#365ebf 0,#365ebf 100%);
    -webkit-border-radius: 2px;
    border: 1px solid #CCC;
    border-radius: 2px;
    color: #fff;
    padding: 0 20px;
    height: 34px;
}

#signup-button-container {
	padding-bottom: 10px;
}

#terms-of-use-text {
	font-family: "AvenirNext-Regular-Mint", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-style: normal !important;
}

#header-buttons li {
	display: inline;
  border-left: solid 1px lightgray;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#header-buttons li:first-child {
	border-left: none;
}

#header-buttons a {
	color: #333;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

#footer-list li {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

#footer-list a {
	font-family: "AvenirNext", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #a5a5a5;
  padding: 0 2%;
  position: relative;
  font-size: 15px;
}

a {
	margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
}